.product-card img {
  border-radius: 12px;
  height: 200px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
}

.product-card:hover img {
  transform: scale(1.05);
}

.btn-outline-secondary:hover {
  background-color: #000;
  color: #fff;
  border-color: #000;
}
.empty-card-img {
  width: 100%;
  height: 180px;
  background: #f8f9fa;
  border-radius: 10px;
}
